<a href="https://colab.research.google.com/github/sandeep7348/Assignment/blob/master/ChurnModelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
df=pd.read_csv("Churn_Modelling.csv")
print(df)
X=df.iloc[:,3:13].values
y=df.iloc[:,13].values
print(X)
print(y)

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]
[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
[1 0 1 ... 1 1 0]

In [10]:
print(df.shape)

(10000, 14)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [12]:
df.duplicated().sum()

np.int64(0)

In [13]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [14]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [16]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [19]:
df=pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

KeyError: "None of [Index(['Geography', 'Gender'], dtype='object')] are in the [columns]"

In [20]:
df

      CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender_Male
0             619   42       2  ...              False            False        False
1             608   41       1  ...              False             True        False
2             502   42       8  ...              False            False        False
3             699   39       1  ...              False            False        False
4             850   43       2  ...              False             True        False
...           ...  ...     ...  ...                ...              ...          ...
9995          771   39       5  ...              False            False         True
9996          516   35      10  ...              False            False         True
9997          709   36       7  ...              False            False        False
9998          772   42       3  ...               True            False         True
9999          792   28       4  ...              False            False        False

[10000 rows x 12 columns]

In [22]:
df.shape

(10000, 12)

In [28]:
X=df.drop(columns=['Exited'])
y=df['Exited']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.8,random_state=42)

In [29]:
X_train

      CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender_Male
399           616   66       1  ...              False            False        False
7247          582   40       3  ...               True            False        False
6406          684   33       4  ...              False            False         True
882           565   36       6  ...              False            False         True
3565          676   30       5  ...              False             True        False
...           ...  ...     ...  ...                ...              ...          ...
5734          768   54       8  ...              False            False         True
5191          682   58       1  ...              False            False        False
5390          735   38       1  ...              False            False        False
860           667   43       8  ...              False            False         True
7270          697   51       1  ...               True            False         True

[2000 rows x 11 columns]

In [30]:
y_train

399     1
7247    1
6406    0
882     0
3565    0
       ..
5734    0
5191    0
5390    1
860     1
7270    0
Name: Exited, Length: 2000, dtype: int64

In [33]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)
print(X_train_scaled)
X_test_scaled=scaler.transform(X_test)
print(X_test_scaled)

[[-0.38381126  2.60786056 -1.37934576 ... -0.57427105 -0.58350885
  -1.12244688]
 [-0.73723819  0.12136034 -0.68041201 ...  1.74133801 -0.58350885
  -1.12244688]
 [ 0.32304261 -0.54808203 -0.33094513 ... -0.57427105 -0.58350885
   0.89091075]
 ...
 [ 0.85318301 -0.06990891 -1.37934576 ... -0.57427105 -0.58350885
  -1.12244688]
 [ 0.14632915  0.40826421  1.06692237 ... -0.57427105 -0.58350885
   0.89091075]
 [ 0.45817644  1.1733412  -1.37934576 ...  1.74133801 -0.58350885
   0.89091075]]
[[-0.59170945 -0.64371665 -0.68041201 ...  1.74133801 -0.58350885
   0.89091075]
 [-0.31104689  0.40826421 -1.37934576 ... -0.57427105 -0.58350885
   0.89091075]
 [-0.5397349   0.50389883 -0.33094513 ... -0.57427105  1.71377008
  -1.12244688]
 ...
 [ 0.63488991 -0.54808203  1.06692237 ... -0.57427105  1.71377008
   0.89091075]
 [ 0.47896626 -0.35681278  0.01852174 ... -0.57427105 -0.58350885
   0.89091075]
 [-1.39211751 -0.45244741  0.01852174 ... -0.57427105 -0.58350885
   0.89091075]]

In [34]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [61]:
model=Sequential()
model.add(Dense(11,activation='relu',input_dim=11))
model.add(Dense(11,activation='relu'))
model.add(Dense(1,activation='relu'))
model.summary()

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_4"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 11)             │           132 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 11)             │           132 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            12 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 276 (1.08 KB)

 Trainable params: 276 (1.08 KB)

 Non-trainable params: 0 (0.00 B)

In [62]:
model.compile(loss='binary_crossentropy',optimizer='Adam')

In [67]:
model.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.7408
Epoch 2/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.8614
Epoch 3/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.7794
Epoch 4/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.6884
Epoch 5/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.7395
Epoch 6/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.6874
Epoch 7/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.6400
Epoch 8/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.6135
Epoch 9/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.6656
Epoch 10/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.6534
Epoch 11/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.6675
Epoch 12/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5820
Epoch 13/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.6642
Epoch 14/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.6107
Epoch 15/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5872
Epoch 16/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5552
Epoch 17/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5997
Epoch 18/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5747
Epoch 19/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5864
Epoch 20/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.6389
Epoch 21/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.6166
Epoch 22/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4944
Epoch 23/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5627
Epoch 24/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5591
Epoch 25/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4844
Epoch 26/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4741
Epoch 27/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5535
Epoch 28/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5364
Epoch 29/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5002
Epoch 30/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.5254
Epoch 31/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.4906
Epoch 32/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.4865
Epoch 33/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.6062
Epoch 34/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.5954
Epoch 35/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.5364
Epoch 36/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.5266
Epoch 37/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.5462
Epoch 38/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.4783
Epoch 39/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.5344
Epoch 40/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.5597
Epoch 41/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5521
Epoch 42/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5768
Epoch 43/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5295
Epoch 44/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4880
Epoch 45/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4982
Epoch 46/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4999
Epoch 47/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4494
Epoch 48/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4954
Epoch 49/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5048
Epoch 50/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5044
Epoch 51/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4340
Epoch 52/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5120
Epoch 53/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4753
Epoch 54/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5332
Epoch 55/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4587
Epoch 56/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5266
Epoch 57/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5119
Epoch 58/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4680
Epoch 59/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4415
Epoch 60/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4729
Epoch 61/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4393
Epoch 62/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4304
Epoch 63/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4399
Epoch 64/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4906
Epoch 65/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4761
Epoch 66/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4068
Epoch 67/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4604
Epoch 68/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5049
Epoch 69/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4418
Epoch 70/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4786
Epoch 71/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4204
Epoch 72/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4308
Epoch 73/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.4596
Epoch 74/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4326
Epoch 75/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4573
Epoch 76/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5342
Epoch 77/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4951
Epoch 78/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4840
Epoch 79/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.3868
Epoch 80/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4400
Epoch 81/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4703
Epoch 82/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4074
Epoch 83/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4566
Epoch 84/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4156
Epoch 85/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.3960
Epoch 86/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.3959
Epoch 87/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4522
Epoch 88/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4594
Epoch 89/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4203
Epoch 90/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4438
Epoch 91/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.3635
Epoch 92/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4301
Epoch 93/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4546
Epoch 94/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4387
Epoch 95/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4125
Epoch 96/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.3811
Epoch 97/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.4613
Epoch 98/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.4438
Epoch 99/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.4254
Epoch 100/100
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.4138

In [68]:
model.layers[0].get_weights()

[array([[-0.23003465,  0.0352456 ,  0.11508716,  0.10159318, -0.25897494,
         -0.02306686,  0.14741078,  0.50306004, -0.13962643,  0.35749   ,
          0.20423181],
        [ 0.5858054 ,  0.06620945, -0.40095243,  0.10640485,  0.14855936,
         -0.35906696, -0.05208744,  0.21389423, -0.1358988 , -0.18681373,
         -0.30728814],
        [-0.05119998,  0.03701613,  0.17547867, -0.55524004,  0.38183773,
          0.3346514 ,  0.49968678, -0.33256835,  0.1082722 , -0.2972642 ,
         -0.42224282],
        [-0.07158371, -0.1405555 , -0.2988267 ,  0.4013884 ,  0.38355923,
          0.36594275, -0.19821398, -0.41829196, -0.11125751, -0.13603406,
          0.43588015],
        [-0.89123863, -0.2960967 , -0.11497378,  0.17950408,  0.66357267,
          0.44473276, -0.1685192 ,  0.30877048, -0.59514004,  0.28577533,
         -0.17359865],
        [ 0.13361426,  0.17864245,  0.04066252,  0.3658241 ,  0.02789252,
         -0.32283068,  0.38712484, -0.26031196, -0.33600178, -0.20762177,
          0.03632975],
        [-0.4752318 , -0.03527503,  0.04085996,  0.08820552,  0.02921007,
         -0.14079243,  0.62007385,  0.02040343, -0.329205  ,  0.05259546,
          0.39459524],
        [ 0.16414098, -0.30608025, -0.04708888, -0.2220971 ,  0.16909422,
         -0.24442315,  0.26658496, -0.06468882,  0.12541837,  0.19470997,
          0.3008655 ],
        [ 0.21662283,  0.44309267,  0.01842291,  0.052362  ,  0.0512938 ,
          0.24431458, -0.20934168, -0.19446322,  0.53915364,  0.27693933,
         -0.48013446],
        [-0.23264001,  0.06392768, -0.46526602,  0.29826227, -0.06633367,
          0.58388007,  0.4157477 ,  0.4686418 ,  0.16034582, -0.35129628,
         -0.04130048],
        [-0.30214173,  0.3684857 ,  0.34498036,  0.28736222, -0.36648703,
         -0.27493775, -0.34233418, -0.09864882, -0.10648849, -0.04155252,
         -0.3908233 ]], dtype=float32),
 array([ 0.15276754,  0.13453834,  0.04638757,  0.04073862, -0.01823778,
        -0.06949583, -0.02523832,  0.09588295, -0.009227  , -0.09812593,
         0.10355848], dtype=float32)]

In [69]:
y_log=model.predict(X_test_scaled)

250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [70]:
y_pred=np.where(y_log>0.5,1,0)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.83475